.App {
  min-height:100vh;
  background:  #8fd3f4;
  color: #404040;
  font-family: 'Open Sans', sans-serif;
}
.header-title {
  margin:0;
  padding-top: 5%;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #6493aa;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes {
  padding: 2%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}